body {
    margin: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', sans-serif,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $darkergrey;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .site-content {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    & * {
      max-height: 100vh;
    }

    .page-content {
      background: $offwhite;
      min-height: 100vh;
    }

    .right-panel {
      display: flex;
      justify-content: flex-end;

      img {
        width: 100%;
        transition: .5s;
        opacity: 0%;

        &:hover {
          opacity: 100%;
          filter: invert(1);
        }
      }
    }
  }