.gallery {
    width: auto;

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
        gap: 2em;

        .gallery-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;

            img {
                width: 100%;
                height: inherit;

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }
    }
}