@import './variables.scss';
@import './navbar.scss';
@import './gallery.scss';
@import './galleryitem.scss';
@import './contact.scss';
@import './about.scss';
@import './footer.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: $darkergrey;
    height: 100vh;
}


