.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../images/backdrop1.png');

    .moth-clicker {

        h2 {
            font-size: 1.8em;
            margin-bottom: 10px;
            color: $offwhite;
        }

        img {
            width: 250px;
            filter: brightness(1.2);
            transition: .4s;
            cursor: pointer;

            &:hover {
                filter: brightness(1.7);
              }
        }
    }

    .navlinks-wrapper {
        width: 80%;
        background: $offwhite;
        border-radius: 20px;
        padding: 10px;

        nav {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 20px;
            text-align: center;

                .navlink {
                    width: auto;

                    a {
                        text-decoration: none;
                        color: $darkergrey;
                        font-size: 1.4em;
                        transition: .2s;

                        &:hover {
                            border-bottom: 5px solid black;
                            cursor: pointer;
                        }
                    }
                }
        }
    }
}