.navbar {
    width: auto;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    background: $darkergrey;
    z-index: 2;
    position: relative;

    .hamburger {
        color: $offwhite;
        text-decoration: none;
        display: flex;
        place-items: center;
        gap: .5em;
        margin: .5em;

        .name {
            text-decoration: none;

            h2 {
                font-family: 'Lobster Two', cursive;
                color: $offwhite;
                font-size: 2.2rem;
            }
        }
        
        svg {
            font-size: 2rem;
        }
    }

    img {
        height: 3em;
        align-self: center;
        margin: 1em;
    }
}

.nav-menu {
    // display: none;
    width: auto;
    flex-direction: column;
    align-items: center;
    text-align-last: center;
    color: $darkergrey;

    transition: 850ms;
    position: absolute;
    transform: translateY(-100%);
    z-index: 1;

    &.active {
        transform: translateX(0%);
        padding: 15px 0;
        transition: 500ms;
        background: #000000ae;
        position: absolute;
        border-radius: 0 0 20px 20px;
    }

    .nav-menu-items {
        display: flex;

        .navbar-toggle {
            
            svg {
                color: $darkgrey !important;
            }
        }

        .nav-text {
            margin: 0 1em;

            a {
                text-decoration: none;
                font-size: 1.4em;
                color: $offwhite;
                display: flex;
                align-items: center;
                gap: .2em;

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .navbar {
        width: 50em;
    }
  }