// Experimental Coolers.co palette - ref: https://coolors.co/f3ebf0-2c302e-474a48-9ae19d-537a5a
$offwhite: #e7e8e7;
$offpink: rgb(213, 213, 218);
$granny: #9ae19d;
$amazon: #537a5a;
$davygrey: #474A48;
$charlesgreen: #2C302E